html
    head
        h1
            a(href = url, targey = '_blank') #{name}
    body
        img(src = '/img.jpg', alt = 'Image')
        h2 Intership companies
        ul
            h3
                li
                    a(href = urlintern1, targey = '_blank') #{intern1}
            h3  
                li 
                    a(href = urlintern2, targey = '_blank') #{intern2}
